* {
    margin: 0;
    padding: 0;

}

:root {
    --text-color: white;
    --bg-url: url(style/bg-mobile.png);
    --stroke-color: rgba(255, 255, 255, 0.50);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.20);
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}
body {
    background: var(--bg-url) no-repeat top center;
    /*background-image: url(style/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;*/
    background-size: cover;
    
}

#conteiner {
    width: 360px;
    margin: auto; /*margin-left: auto; & margin-right: auto;*/
    margin-top: 20px;
    padding: 0px 24px 15px 24px;
    box-shadow: 0px 0px 20px 0.1px rgba(128, 128, 128, 0.621);
}

#profile {
    text-align: center;
    padding: 15px 24px 0px 24px;
}

#profile img {
    width: 110px;
    display: inline;
    margin: auto;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* Lista de links*/

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

li a span {
    color: rgb(55, 223, 97);
}

ul li a{
    display: flex;
    justify-content: center;
    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);

}
/* Links sociais*/

#social_links {
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 24px;
}

#social_links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social_links a:hover {
    background: var(--highlight-color);
}


/* Rodapé*/

footer { 
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 14px;
    border: 1px solid var(--stroke-color);
    border-radius: 20px;
}

footer underline {
    text-decoration: underline;
}

@media (min-width: 700px) {
    :root {
        --bg-url: url(style/bg-desktop.png);
    }
}
